AIRTABLE_CLIENT_ID=xxxx
AIRTABLE_CLIENT_SECRET=xxxx
AIRTABLE_REDIRECT_URI=http://localhost:4000/auth/callback
JWT_SECRET=something_secret
MONGO_URI=mongodb://localhost:27017/formbuilder
FRONTEND_URL=http://localhost:5173